table {
    border-collapse: collapse;
    width: 50%;
  }
  td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  .linha-par {
    background-color: #95f556;
  }
  .linha-impar {
    background-color: #559ee7;
  }